
.hotelDetailCon {
	display: flex;
	justify-content: center;
}
.hotelCard {
	/*display: flex;*/
    width: 700px;
    height: 333px;
    border-radius: 5%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    text-decoration: none;
    /*justify-content: space-around;*/
  	margin:auto;
}
#hotelDetail {
	width: 1300px;
}

#blurSearchBar {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1600;
	height: 100vh;
	width: 100%;
	background: #000;
	opacity: 0.6;
	/* top: 115px; */
}

/* 제목 영역 */
.hotelDetailTitle {
	margin-top: 40px;
}

.hotelDetailTitle h2 {
	font-family: "LINESeedKR-Bd" !important;
	font-size: 1.8rem;
}

.hotelDetailSubTitle {
	display: flex;
	justify-content: space-between;
}

.detailAdress {
	font-size: 1.2rem;
	text-decoration: underline;
}

.detailShare {
	display: flex;
	font-size: 1.2rem;
}

.detailShare button {
	border: none;
	background-color: white;
	width: 120px;
	height: 40px;
	border-radius: 10px;
}

.detailShare button:hover {
	background-color: #eeeeee;
}

#detailSharing {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}

#detailSharing span {
	/* margin-top: 3px;
    margin-left: 5px; */
}

#detailSharing ion-icon {
	margin-bottom: 3px;
	margin-right: 5px;
	color: #b31312;
}

#shareCon {
	position: relative;
	display: none;
}

#shareBox {
	position: absolute;
	z-index: 100;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 410px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
		0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

#share {
	width: 90%;
	height: 90%;
}

#share>span {
	font-size: 1.2rem;
}

#shareHead {
	display: flex;
	justify-content: space-between;
}

#shareHead>button {
	border: none;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

#shareHead>button ion-icon {
	font-size: 1.5rem;
}


#shareContent {
	display: flex;
	align-items: center;
	margin-top: 15px;
}

#shareContent img {
	border-radius: 10px;
	width: 100px;
	height: 100px;
}

#shareContent>div {
	margin-left: 10px;
	height: 80px;
}

#shareContent>div>div {
	display: flex;
	align-items: center;
	height: 48px;
	margin-bottom: 1rem;
}

#shareContent>div>p {
	font-size: 0.8rem;
	/*height: 48px;*/
}

#shareContent>div p>span:first-child {
	color: #b31312;
}

#shareIconCon {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.shareIcon {
	border-radius: 10px;
	border: 1px solid #c3c3c3;
	width: 48%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

.shareIcon:hover {
	background-color: #eeeeee;
}

.shareIcon:nth-child(2),
.shareIcon:nth-child(4) {
	margin-left: 10px;
}

.shareIcon>div {
	width: 150px;
	height: 40px;
}

.shareIcon img {
	border-radius: 5px;
	width: 40px;
	height: 40px;
}

.shareIcon span {
	margin-left: 6px;
	font-size: 0.75rem;
}

#detailHeart {
	display: flex;
	justify-content: center;
	align-items: center;
}

#detailHeart ion-icon {
	margin-bottom: 3px;
	margin-right: 5px;
	color: #b31312;
}

#detailHeartOn {
	display: none;
}

/* /제목 영역/ */

/* 이미지 영역 */
.hotelDetailImg {
	display: flex;
	width: 100%;
	margin-top: 30px;
}

.mainImageCon {
	width: 45%;
	height: 500px;
}

.mainImage img {
	width: 100%;
	height: 500px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.subImageCon {
	position: relative;
	width: 55%;
	display: flex;
	flex-wrap: wrap;
}

.subImageLine {
	width: 100%;
	height: 245px;
	display: flex;
}

.firstline {
	margin-bottom: 10px;
}

.firstline>.subImage:last-of-type img {
	border-top-right-radius: 30px;
}

.lastline>.subImage:last-of-type img {
	border-bottom-right-radius: 30px;
}

.subImage {
	width: 50%;
	height: 245px;
	margin-left: 10px;
}

.subImage img {
	width: 100%;
	height: 245px;
}

#hotelImageBtn {
	position: absolute;
	top: 450px;
	left: 600px;
}

#hotelImageBtn button {
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 10px;
	background-color: #eeeeee;
	color: black;
	font-size: 0.9rem;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
}

.detailHotelImage {
	width: 60%;
	height: 85%;
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 130px;
	background-color: white;
	display: flex;
	justify-content: center;
	border: 1px solid #eeeeee;
	border-radius: 30px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
		0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
	z-index: 1610;
	display: none;
}

.detailHotelImage>div {
	overflow-y: scroll;
	margin-top: 20px;
	width: 95%;
}

.container {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.images {
	width: 100%;
	height: auto;
}

.images img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@media (min-width: 640px) {
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
		grid-auto-flow: row dense;
	}

	.imageFlex1 {
		display: grid;
		row-gap: 10px;
	}

	.imageFlex2 {
		display: grid;
		row-gap: 10px;
	}

	.imageFlex3 {
		display: grid;
		row-gap: 10px;
	}
}

.overImgCon {
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 1620;
	display: none;
}

.overImg {
	width: 80%;
	height: 80%;
}

.overImg img {
	width: 100%;
	height: 100%;
}

.overImg button {
	position: absolute;
	left: 86%;
	width: 80px;
	height: 80px;
	border: none;
	background-color: transparent;
}

.overImg button ion-icon {
	font-size: 3rem;
}

/* /이미지 영역/ */

/* 상세설명 영역 */
.hotelDetailBody {
	width: 100%;
	height: auto;
	margin-top: 30px;
	display: flex;
}

.detailHotelCon {
	width: 60%;
}

.detailHotelTitle {
	margin-top: 50px;
	margin-bottom: 25px;
}

.detailHotelTitle h2 {
	font-size: 1.5rem;
}

.detailHotelTitle hr {
	border: 0;
	height: 0;
	opacity: unset;
	border-top: 2px solid #eeeeee;
	margin-top: 0px;
}

.detailHotelType {
	display: flex;
	justify-content: space-between;
}

.dt {
	width: 18%;
	height: auto;
	/* border: 3px solid #b31312; */
	border-radius: 30px;
	background-color: white;
	text-align: center;
}

.dt p {
	font-size: 1rem;
	margin-top: 10px;
	margin-bottom: 5px;
	color: black;
}

.dt img {
	width: 100%;
	height: 120px;
	border-radius: 20px;
}

#hotelDetailBodyHeader {
	margin-top: 30px;
}

#hotelDetailBodyHeader span {
	font-size: 1.4rem;
	margin-right: 5px;
}

.detailHotelInfoCon pre {
	/* padding: 10px; */
	font-size: 1rem;
	overflow: hidden;
	white-space: pre-line;
	/* height: 300px; */
}

.detailHotelInfoBtn {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	display: none;
}

.detailHotelInfoBtn button {
	width: 100px;
	height: 40px;
	border: none;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
}

.detailHotelFc {
	display: flex;
	flex-wrap: wrap;
}

.detailHotelFc>div {
	position: relative;
	width: 30%;
	height: 120px;
	margin: 1.5%;
}

.detailHotelFc img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.detailHotelFc div>span {
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 1.1rem;
	z-index: 3;
	color: white;
}

.blurFc {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.4;
	border-radius: 20px;
}

.searchCalander {
	width: 100%;
	height: 550px;
}

.day {
	height: 42px;
}

.notday {
	height: 42px;
}

.calMonth {
	right: 45px;
}

.calNextMonth {
	left: 45px;
}

.calBtnWrap:first-child {
	position: relative;
	left: 45px;
}

.calBtnWrap:last-child {
	position: relative;
	right: 45px;
}

.outDay {
	text-decoration: line-through #b31312 2px;
	color: #999;
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% / 7);
	height: 42px;
	text-align: left;
	font-size: 1rem;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.detailHotelReview {
	margin-bottom: 50px;
}

.detailUserInfo {
	display: flex;
	align-items: center;
}

.detailUserInfo img {
	width: 60px;
	height: 60px;
	border: 1px solid #afafaf;
	border-radius: 50%;
}

.detailUserInfo div {
	margin-left: 15px;
}

.detailUserInfo span {
	display: block;
	font-size: 1rem;
}

.detailUserInfo span:last-of-type {
	margin-top: 5px;
	color: #999;
}

.starContainer {
	margin-top: 10px;
	margin-bottom: 10px;
	left: 0;
}

.star {
	position: relative;
	font-size: 1.5rem;
	color: #ddd;
	bottom: 1px;
}

.star span {
	width: 0;
	position: absolute;
	left: 0;
	color: #b31312;
	overflow: hidden;
	pointer-events: none;
}

.detailReviewImg {
	display: flex;
}

.detailReviewImg img {
	width: 100px;
	height: 100px;
	margin-right: 10px;
}

.detailReviewText {
	margin-top: 15px;
}

.detailReviewText pre {
	font-size: 1rem;
	overflow: auto;
	white-space: pre-line;
}

.detailHotelLocCon {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.detailHotelLoc {
	width: 1300px;
}

.detailHotelMap p {
	color: #333;
}

#mapContainer {
	width: 100%;
	height: 600px;
}

/* /상세설명 영역/ */

/* 결제정보 모달창 */
.detailHotelModalCon {
	position: sticky;
	display: flex;
	justify-content: end;
	width: 40%;
	top: 180px;
	margin-top: 50px;
	height: 500px;
}

.detailHotelModal {
	/* border: 1px solid transparent; */
	border-radius: 30px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
		0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
	width: 80%;
	height: 500px;
}

.detailHotelPrice {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.detailHotelPrice div {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.detailHotelPrice div span:first-of-type {
	font-size: 1.3rem;
	font-weight: bold;
}

.detailHotelPrice div span>span:last-child {
	font-size: 1.1rem;
	font-weight: normal;
	text-decoration: none;
	color: #333;
}

.detailHotelPrice div span:last-child {}

.detailHotelFunc {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.detailHotelFunc>div {
	width: 80%;
	position: relative;
}

.detailHotelFunc input {
	width: 80%;
	height: 30px;
	border: none;
	outline: none;
}

.detailHotelCheckDay {

	display: flex;
}

.detailHotelCheckDay div {
	border: 1px solid #999;
	padding-top: 10px;
	height: 70px;
}

.detailHotelCheckDay div>* {
	margin-left: 10px;
}

.detailHotelCheckDay div>ion-icon {
	display: none;
	position: absolute;
	font-size: 1.3rem;
	color: #b31312;
	top: 35px;
	right: 20px;

}

.detailHotelCheckDay>div:first-of-type {
	border-top-left-radius: 10px;
	position: relative;
}

.detailHotelCheckDay>div:last-of-type {
	border-top-right-radius: 10px;
	position: relative;
}

.detailHotelCheckDay>div span {
	font-size: 0.9rem;
}

.detailHotelPeople>div {
	border: 1px solid #999;
	padding-top: 10px;
	height: 70px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
}

.detailHotelPeople div>* {
	margin-left: 10px;
}

.detailHotelPeople>div span {
	display: block;
	font-size: 0.9rem;
}

#payPeople {
	border: none;
	outline: none;
	width: 80px;
	font-size: 0.95rem;

}

.detailHotelPeople ion-icon {
	position: absolute;
	font-size: 1.5rem;
	right: 10px;
	bottom: 12px;
}

.detailHotelPeople ion-icon:last-child {
	display: none;
	position: absolute;
	font-size: 1.5rem;
	right: 10px;
	bottom: 10px;
}

.searchPeople.detail {
	display: none;
	position: absolute;
	top: unset;
	left: unset;
	right: unset;
	margin: unset;
	width: 100%;
	z-index: 2;
}

#searchCheckCon {
	width: 100%;
	border-radius: 10px;
	height: 100px;
}

#searchCheck {
	margin-top: 35px;
}

#peopleText {
	font-size: 1rem;
}

.countBtn {
	font-size: 1.3rem;
}

#peopleCount {
	font-size: 1rem;
}

#countInfo {
	font-size: 0.8rem;
	margin-top: 0px;

}

#detailForm{
	width: 100%;
	max-width: unset;
	margin: 0;
}

.detailHotelBtn {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.detailHotelBtn button {
	width: 80%;
	height: 50px;
	border: none;
	border-radius: 10px;
	background-color: #afafaf;
	color: white;
}

.detailHotelBtn.on {
	display: none;
}

.detailHotelBtn.on button {
	background-color: #b31312;
	color: white;
}

.detailHotelPriceCalc {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.detailHotelPriceCalc>div {
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.detailHotelPriceCalc hr {
	border: 0;
	height: 0;
	opacity: unset;
	border-top: 2px solid #8c8c8c;
	margin-top: 0px;
}

#exDay {
	font-size: 0.8rem;
}

#exPeople {
	font-size: 0.8rem;
}

.multiply {
	font-size: 0.8rem;
}

#resultPrice {
	color: gray;
}

.hrCon {
	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
}

.hrCon hr {
	width: 80%;
	border: 0;
	height: 0;
	opacity: 0.3;
	border-top: 2px solid #8c8c8c;
	margin-top: 0px;
}

.detailHotelPriceResult {
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

.detailHotelPriceResult div {
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.detailHotelPriceResult span {
	font-size: 1.2rem;
}

#realResultPrice {
	font-weight: bold;
	color: #b31312;
}

/* /결제정보 모달창/ */