.hotelPayCon {
  display: flex;
  justify-content: center;
}

.hotelPay {
  width: 1300px;
  margin-bottom: 50px;
}

.hotelPayInfoCon {
  display: flex;
  justify-content: space-between;
}

#payInfo h3 {
  font-size: 1.3rem;
}

#payTitle {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

#payTitle button {
  border: none;
  background-color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#payTitle span {
  margin-left: 10px;
  font-size: 1.5rem;
}

#payTitle ion-icon {
  margin-bottom: 7px;
}
.hotelPayInfo {
  width: 45%;
  /* margin-top: 50px; */
}

.payInfoTypeCon {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.payInfoType span {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #999;
}

.payInfoType span:first-of-type {
  color: black;
}

.modifyBtn {
  border: none;
  background-color: white;
  color: #b31312;
  font-size: 1.2rem;
}
.hotelPayInfoCon hr {
  border: 0;
  height: 0;
  opacity: unset;
  border-top: 2px solid #eeeeee;
  margin-top: 30px;
  margin-bottom: 30px;
}

#payCategory{
	display: flex;
}

.pcBtn{
	width: 30%;
	height: 70px;
	border: none;
	border-radius: 10px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border : 2px solid #d8d8d8;
	font-size: 1.2rem;
	margin-right: 30px;
}

.pcBtn img{
	width: 50%;
	height: 50%;
}

.pcBtn>ion-icon{
	color: #b31312;
	font-size: 2rem;
	margin-right: 10px;
}

.pcBtn>span{
	position: relative;
	top: 1px;
}


#hotelPayBtnCon {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#hotelPayBtnCon button {
  width: 50%;
  height: 60px;
  font-size: 1.3rem;
  border: none;
  border-radius: 10px;
  background-color: #b31312;
  color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
}

#registOkBtn {
}

.hotelPayDetailCon {
  width: 50%;
  height: 420px;
  display: flex;
  justify-content: center;
}

.hotelPayDetail {
  width: 90%;
  border: 1px solid #d8d8d8;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.hotelPayDetail > div {
  margin-top: 30px;
  width: 90%;
}

#hotelPayDetailTitle {
  display: flex;
}

#hotelPayDetailTitle img {
  width: 30%;
  border-radius: 10px;
}

#hotelPayDetailTitle > div {
  margin-left: 20px;
  margin-top: 20px;
}

#hotelPayDetailTitle > div pre {
  font-family: "LINESeedKR-Bd" !important;
  font-size: 1.1rem;
  overflow: hidden;
  white-space: pre-line;
}

.starContainer {
  position: unset;
  display: flex;
  align-items: center;
}

.starContainer > span:last-child {
  margin-left: 20px;
  color: gray;
}

.hrContainer {
  display: flex;

  justify-content: center;
}

.hrContainer hr {
  border: 0;
  height: 0;
  opacity: unset;
  border-top: 2px solid #eeeeee;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.payDetailInfo > div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.payDetailInfo > div span {
  font-size: 1.1rem;
  color: gray;
}

.hotelPayRealInfo {
  display: flex;
  justify-content: space-between;
}

.hotelPayRealInfo span {
  font-size: 1.2rem;
}

.starContainer {
	margin-top: 10px;
	margin-bottom: 10px;
	left: 0;
}

.star {
	position: relative;
	font-size: 1.5rem;
	color: #ddd;
	bottom: 1px;
}

.star span {
	width: 0;
	position: absolute;
	left: 0;
	color: #b31312;
	overflow: hidden;
	pointer-events: none;
}
